#Turn {
    font-size: 40px;
}

#grid {
    margin: auto;
    text-align: center;
    position: relative;
    background: white;
    display: inline-flex;
    flex-wrap: wrap;
    border-style: solid;
    border-width: 10px;
    border-radius: 10px;
    border-color: #222;
    margin: 6px;
}

.row {
    display: table-row;
}

.cell {
    width: 80px;
    height: 80px;
    border-style: solid;
    border-width: 2px;
    border-color: black;
    background: #007D15;
}

.piece {
    width: 70px;
    height: 70px;
    border-width: 2px;
    border-style: solid;
    border-color: #007D15;
    border-radius: 50px;
    margin: 4px;
}